menu "Console"
    source "$NXOS_SRC_DIR/mods/console/Kconfig"
endmenu

menu "Time"
    source "$NXOS_SRC_DIR/mods/time/Kconfig"
endmenu

menu "Drivers"
    source "$NXOS_SRC_DIR/mods/drivers/Kconfig"
endmenu

menu "Test"
    source "$NXOS_SRC_DIR/mods/test/Kconfig"
endmenu

menu "Demo"
    source "$NXOS_SRC_DIR/mods/demo/Kconfig"
endmenu

menu "Thirdpart"
    source "$NXOS_SRC_DIR/mods/thirdpart/Kconfig"
endmenu

menu "File System"
    source "$NXOS_SRC_DIR/mods/fs/Kconfig"
endmenu
