@import "config";
@import "mixins";

.dropdown{
  width: 100%;
  overflow-y: auto;
  max-height: 15rem;
  @include dropdown($dropdown-bg-light);
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.37rem 0.6rem rgba(0,0,0,0.2);
  position: relative;
  z-index: 999;
}

.dropdown-item{
  @include dropdown_item($dropdown-divider-color-light);
  text-align: left;
  margin: 0 1rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
}

.dropdown-item-select{
  @include dropdown_item_select($dropdown-select-bg-light)
}
