input[type=range] {
  // 去除浏览器默认的样式
  -webkit-appearance: none;
  -moz-appearance: none;
  background:  -webkit-linear-gradient(#0A59F7, #0A59F7) no-repeat white;
  border-radius: 0.625rem; /*将轨道设为圆角的*/
  &:focus {
    // 去除落焦时的外边框效果
    outline: none;
  }
}

input[type=range]::-webkit-slider-runnable-track {
  height: 0.1875rem;
  width: 100%;
  background: rgba(0,0,0,0.1);
}



