.text-title-size{font-size: 1.5rem;}
.model-big-title-size{font-size: 1.125rem;}
.model-content-title-size{font-size: 1.5rem;}
.model-title-main-size{font-size: 1rem;}
.model-title-subtitle-size{font-size: 0.75rem;}
.text-btn-size{font-size: 0.875rem;}
.text-tab-title-size{font-size: 1.125rem}
.list-title-main-size{font-size: 0.9375rem;}
.list-title-subtitle-size{font-size: 0.75rem;}
.select-item-title-size{font-size: 1rem;}
.dialog-content-size{font-size: 0.875rem;}
