<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunze.common.mapper.yunze.YzCardFlowMapper">



	<!--查询套餐信息-->
	<select id="queryflow" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			a.id,
			a.package_id,
			b.packet_wx_name,
			a.packet_id,
			a.ord_no,
			a.true_flow,
			a.error_flow,
			DATE_FORMAT( a.start_time, "%Y-%m-%d %H:%i:%S" ) AS start_time,
			DATE_FORMAT( a.end_time, "%Y-%m-%d %H:%i:%S" ) AS end_time,
			DATE_FORMAT( a.create_time, "%Y-%m-%d %H:%i:%S" ) AS create_time,
			a.ord_type,
			a.status,
			a.packet_type,
			a.use_flow,
			a.iccid,
			a.error_time,
			(IF(a.use_so_flow>0,a.use_so_flow,0)+IF(a.use_flow>0,a.use_flow,0)) AS use_so_flow,
			c.ord_name,
			c.wx_ord_no,
			c.status AS ord_status,
			c.price,
			c.pay_type,
			c.cre_type,
			c.is_profit,
			c.validate_type,
			c.info
		FROM
			yz_card_flow a,
			yz_card_packet b,
			yz_order c
		<where>
			a.iccid = #{iccid}
			AND a.packet_id = b.packet_id
			AND a.ord_no = c.ord_no
			<if test="NotExpired == 1">
				AND DATE_FORMAT( a.end_time, "%Y-%m-%d %H:%i:%S") > DATE_FORMAT(now(), "%Y-%m-%d %H:%i:%S")
			</if>
		</where>
		ORDER BY start_time
	</select>





	<!--查询现有套餐信息-->
	<select id="queryflow_agent" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			a.id,
			a.package_id,
			b.packet_wx_name,
			a.packet_id,
			a.ord_no,
			a.true_flow,
			a.error_flow,
			DATE_FORMAT( a.start_time, "%Y-%m-%d %H:%i:%S" ) AS start_time,
			DATE_FORMAT( a.end_time, "%Y-%m-%d %H:%i:%S" ) AS end_time,
			DATE_FORMAT( a.create_time, "%Y-%m-%d %H:%i:%S" ) AS create_time,
			a.ord_type,
			a.status,
			a.packet_type,
			a.use_flow,
			a.iccid,
			a.error_time,
			(IF(a.use_so_flow>0,a.use_so_flow,0)+IF(a.use_flow>0,a.use_flow,0)) AS use_so_flow,
			c.ord_name,
			c.wx_ord_no,
			c.status AS ord_status,
			c.price,
			c.pay_type,
			c.cre_type,
			c.is_profit,
			c.validate_type,
			c.info
		FROM
			yz_card_flow a,
			yz_card_packet b,
			yz_order c
		<where>
			a.iccid = #{iccid}
			AND a.packet_id = b.packet_id
			AND a.ord_no = c.ord_no
			AND b.package_id = #{package_id}
			AND b.dept_id = #{agent_id}
			<if test="NotExpired == 1">
				AND DATE_FORMAT( a.end_time, "%Y-%m-%d %H:%i:%S") > DATE_FORMAT(now(), "%Y-%m-%d %H:%i:%S")
			</if>
		</where>
		ORDER BY start_time
	</select>



	<!--查询当前套餐简要信息-->
	<select id="queryflow_simple" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			b.packet_wx_name,
			b.packet_valid_time,
			b.packet_valid_name,
			DATE_FORMAT( a.start_time, "%Y-%m-%d %H:%i:%S" ) AS start_time,
			DATE_FORMAT( a.end_time, "%Y-%m-%d %H:%i:%S" ) AS end_time
		FROM
			yz_card_flow a,
			yz_card_packet b
		<where>
			a.iccid = #{iccid}
			and	a.packet_id = b.packet_id
		</where>
			ORDER BY
			start_time DESC
			LIMIT 1
	</select>




	<!--查询当前套餐简要信息 代理 -->
	<select id="queryflowAgent_simple" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			b.packet_wx_name,
			b.packet_valid_time,
			b.packet_valid_name,
			DATE_FORMAT( a.start_time, "%Y-%m-%d %H:%i:%S" ) AS start_time,
			DATE_FORMAT( a.end_time, "%Y-%m-%d %H:%i:%S" ) AS end_time
		FROM
		yz_card_flow a,
		yz_agent_packet b
		<where>
			a.iccid = #{iccid}
			and	a.packet_id = b.packet_id
		</where>
		ORDER BY
		start_time DESC
		LIMIT 1
	</select>



	<!--获取资费组简要信息-->
	<select id="queryPackage_simple" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			package_id,
			package_agentname
		FROM
			yz_card_package
	</select>

	<!--获取 代理 资费组简要信息-->
	<select id="queryAgentPackage_simple" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			package_id,
			package_agentname
		FROM
			yz_agent_package
		<where>
			dept_id  = #{agent_id}
		</where>
	</select>



	<!--获取资费计划简要信息-->
	<select id="queryPacket_simple" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			packet_id as dictValue,
			packet_wx_name as dictLabel,
			package_id,
			packet_valid_type
		FROM
			yz_card_packet
	</select>

	<!--获取 代理 资费计划简要信息-->
	<select id="queryAgentPacket_simple" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			packet_id as dictValue,
			packet_wx_name as dictLabel,
			package_id,
			packet_valid_type
		FROM
			yz_agent_packet
		<where>
			 agent_id in
			<foreach item="agent_id" collection="agent_id" index="agent_id" open="(" separator="," close=")">
				#{agent_id}
			</foreach>
		</where>
	</select>






	<!--卡板信息导出需要用到的套餐数据-->
	<select id="outCardFlow" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			iccid,
			true_flow,
			(IF(use_so_flow>0,use_so_flow,0)+IF(use_flow>0,use_flow,0)) AS use_so_flow_sum,
			ROUND(((IF(use_so_flow>0,use_so_flow,0)+IF(use_flow>0,use_flow,0)) / true_flow) * 100,2) as Percentage,
			(true_flow - (IF(use_so_flow>0,use_so_flow,0)+IF(use_flow>0,use_flow,0))) as surplus,
			b.packet_name,
			b.packet_valid_time,
			b.packet_valid_name
		FROM
			( SELECT * FROM yz_card_flow WHERE iccid IN
			<foreach item="iccid_arrs" collection="iccid_arrs" index="index"  separator="," open="(" close=")" >
					#{iccid_arrs}
			</foreach>
		<![CDATA[	ORDER BY start_time DESC  LIMIT 99999999 ) a ,
			yz_card_packet b
		WHERE
			a.packet_id = b.packet_id
			and a.package_id = b.package_id
		GROUP BY
		a.iccid
		]]>
	</select>

	<!-- 修改 资费计划用量-->
	<update id="updFlow" parameterType="java.util.HashMap" >
		update yz_card_flow
		<set>
			use_true_flow = #{use_true_flow},
			use_so_flow = #{use_so_flow},
			<if test="status!=null">
				status = #{status}
			</if>
		</set>
		<where>
			id =#{id}
		</where>
	</update>

	<!--查询 生效中 未生效 资费计划  -->
	<select id="findInEffect" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select
			id,
			true_flow,
			error_flow,
			error_time
		from
			yz_card_flow
		<where>
			iccid =#{iccid}
			and status in ("1","2")
			AND (#{nowMonthSta} <![CDATA[ <= ]]>end_time and end_time <![CDATA[ <= ]]>#{nowMonthEnd} or #{nowMonthSta}  <![CDATA[ <= ]]>start_time
			AND start_time  <![CDATA[ <= ]]> #{nowMonthEnd} or start_time <![CDATA[ <= ]]>#{nowMonthSta} and #{nowMonthEnd}  <![CDATA[ <= ]]> end_time)
			and start_time  <![CDATA[ <= ]]> now()
		</where>
	</select>

	<!--查询 已失效 资费计划 真实用量-->
	<select id="findInvalidationSumErrorFlow" parameterType="java.util.HashMap" resultType="java.lang.String">
		select
			SUM(error_flow)
		from
			yz_card_flow
		<where>
			iccid =#{iccid}
			and status in ("0")
			AND (#{nowMonthSta} <![CDATA[ <= ]]>end_time and end_time <![CDATA[ <= ]]>#{nowMonthEnd} or #{nowMonthSta}  <![CDATA[ <= ]]>start_time
			AND start_time  <![CDATA[ <= ]]> #{nowMonthEnd} or start_time <![CDATA[ <= ]]>#{nowMonthSta} and #{nowMonthEnd}  <![CDATA[ <= ]]> end_time)
			and start_time  <![CDATA[ <= ]]> now()
		</where>
	</select>

	<!--修改 时间到期资费计划-->
	<update id="updStatus" parameterType="java.util.HashMap" >
		update yz_card_flow
		<set>
			status = 0
		</set>
		<where>
			iccid =#{iccid}
			and end_time  <![CDATA[ <= ]]> now()
		</where>
	</update>


	<!--查询卡号对应订单号是否已经存在-->
	<select id="findExistence" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select
			COUNT(iccid)
		from
			yz_card_flow
		<where>
			iccid =#{iccid}
			and ord_no =#{ord_no}

		</where>
	</select>


	<!--  获取当前充值 包 的最后 一个 到期 时间-->
	<select id="findEndTime" parameterType="java.util.HashMap" resultType="java.lang.String">
		SELECT
			DATE_FORMAT( A.end_time, "%Y-%m-%d %H:%i:%S"  ) AS ymd
		FROM
			yz_card_flow A,
			yz_card_packet B
		<where>
			A.iccid = #{iccid}
			AND A.package_id = B.package_id
			AND A.packet_id = B.packet_id
			AND B.packet_type = 0
			AND A.end_time > now()
			AND A.STATUS = 1
		</where>
		ORDER BY
			A.end_time DESC
			LIMIT 1;
	</select>


	<!--插入flow-->
	<insert id="saveFlow" parameterType="java.util.HashMap" >
		insert  into
			yz_card_flow
		(
			package_id,
			packet_id,
			ord_no,
			true_flow,
			error_flow,
			start_time,
			end_time,
			create_time,
			ord_type,
			status,
			packet_type,
			use_flow,
			iccid,
			error_time,
			validate_type
		)value
		<foreach item="flow_arrs" collection="flow_arrs" index="index"  separator="," >
			(#{flow_arrs.package_id},
			#{flow_arrs.packet_id},
			#{flow_arrs.ord_no},
			#{flow_arrs.true_flow},
			#{flow_arrs.error_flow},
			#{flow_arrs.start_time},
			#{flow_arrs.end_time},
			now(),
			#{flow_arrs.ord_type},
			#{flow_arrs.status},
			#{flow_arrs.packet_type},
			#{flow_arrs.use_flow},
			#{flow_arrs.iccid},
			#{flow_arrs.error_time},
			#{flow_arrs.validate_type})
		</foreach>

	</insert>





	<!--获取 资费计划 信息-->
	<select id="FindPacket" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			packet_id,
			package_id,
			packet_wx_name,
			packet_name,
			packet_price,
			packet_flow,
			base_packet_type,
			packet_type,
			wechat_pay,
			balance_pay,
			error_flow,
			error_so,
			packet_valid_time,
			packet_cost,
			is_month,
			date_limit,
			packet_valid_name,
			packet_valid_type as wxValidType
		FROM
			yz_card_packet
		<where>
			package_id = #{package_id}
			and packet_id = #{packet_id}
		</where>

	</select>

	<!--获取 代理 资费计划 信息-->
	<select id="FindPacketAgent" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			packet_id,
			package_id,
			packet_wx_name,
			packet_name,
			packet_price,
			packet_flow,
			base_packet_type,
			packet_type,
			wechat_pay,
			balance_pay,
			error_flow,
			error_so,
			packet_valid_time,
			packet_cost,
			is_month,
			date_limit,
			packet_valid_name,
			packet_valid_type as wxValidType
		FROM
			yz_agent_packet
		<where>
			package_id = #{package_id}
			and packet_id = #{packet_id}
			and dept_id  = #{agent_id}
		</where>
	</select>



	<!--获取 资费计划 简要 信息-->
	<select id="FindPacket_concise" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			packet_flow,
			packet_valid_time,
			packet_valid_name,
			is_month
		FROM
		yz_card_packet
		<where>
			package_id = #{package_id}
			and packet_id = #{packet_id}
		</where>

	</select>

	<!--获取 代理 资费计划 简要 信息-->
	<select id="FindPacketAgent_concise" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			packet_flow,
			packet_valid_time,
			packet_valid_name,
			is_month
		FROM
			yz_agent_packet
		<where>
			package_id = #{package_id}
			and packet_id = #{packet_id}
			and dept_id  = #{agent_id}
		</where>
	</select>


	<!--订购资费筛选条件-->
	<sql id="selwhere">
		<where>
			<if test="type==0 and value!=null and value!=''">
				AND ord_no LIKE CONCAT(#{value},'%')
			</if>
			<if test="type==1 and value!=null and value!=''">
				AND iccid LIKE CONCAT(#{value},'%')
			</if>
			<if test="status != null and status != '' ">
				AND status = #{status}
			</if>
			<if test="iccid != null and iccid != '' ">
				AND iccid = #{iccid}
			</if>
			<if test="packet !=null and packet != '' ">
				AND packet_type =#{packet}
			</if>
			<if test="effect !=null and effect != '' ">
				AND validate_type =#{effect}
			</if>
			<if test="timetype != null  and timetype != '' and staTime!=null and endTime!=null">
				AND
				<if test="timetype == 0">
					DATE_FORMAT( create_time , '%Y-%m-%d' )
				</if>
				<if test="timetype == 1">
					DATE_FORMAT( start_time , '%Y-%m-%d' )
				</if>
				<if test="timetype == 2">
					DATE_FORMAT( end_time , '%Y-%m-%d' )
				</if>
				<if test="timetype == 3">
					DATE_FORMAT( validate_time , '%Y-%m-%d' )
				</if>
				BETWEEN #{staTime} AND #{endTime}
			</if>
			<if test="IccidArr != null  and IccidArr != '' and IccidArr.size>0">
				and  iccid in
				<foreach item="IccidArr" collection="IccidArr" index="IccidArr" open="(" separator="," close=")">
					#{IccidArr}
				</foreach>
			</if>
		</where>
	</sql>

	<!--订购资费查询-->
	<select id="getList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
			SELECT id,package_id,packet_id,ord_no,true_flow,
				DATE_FORMAT(start_time,'%Y-%m-%d') as start_time,
				DATE_FORMAT(end_time,'%Y-%m-%d') as end_time,
				DATE_FORMAT(create_time,'%Y-%m-%d') as create_time,
				ord_type,status,packet_type,use_flow,
				iccid,validate_type,
				DATE_FORMAT(validate_time,'%Y-%m-%d') as validate_time,
				use_so_flow
			FROM
				yz_card_flow
			<include refid="selwhere"/>
			ORDER BY
			<if test="ORDER_BY_type==0">
				start_time
			</if>
			<if test="ORDER_BY_type==1">
				create_time
			</if>
			<if test="ORDER_BY_type==2">
				end_time
			</if>
			<if test="ORDER_BY_type==3">
				iccid
			</if>
			<if test="ORDER_BY_rule==1">
				DESC
			</if>
			<if test="ORDER_BY_rule==0" >
				ASC
			</if>
		   LIMIT #{StarRow},#{PageSize}
	</select>
<!--订购资费查询 分页-->
	<select id="MapCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select
			count(1)
		FROM
			yz_card_flow
		<include refid="selwhere"/>
	</select>



	<select id="findPacketType" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select
			packet_type
		FROM
			yz_card_packet
		<where>
			package_id =#{package_id}
			and packet_id =#{packet_id}
		</where>
			LIMIT 1
	</select>

	<!--查询到期日期-->
	<select id="sletume" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			*
		FROM
			( SELECT iccid, end_time FROM yz_card_flow WHERE end_time > now() ORDER BY end_time DESC LIMIT 99999999999 ) a
		GROUP BY
			a.iccid;
	</select>

	<!--资费订购导出-->
	<select id="exportArr" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			id,
			package_id,
			packet_id,
			ord_no,
			true_flow,
			DATE_FORMAT( start_time, "%Y-%m-%d %H:%i:%S" ) AS start_time,
			DATE_FORMAT( end_time, "%Y-%m-%d %H:%i:%S" ) AS end_time,
			DATE_FORMAT( create_time, "%Y-%m-%d %H:%i:%S" ) AS create_time,
			status,
			packet_type,
			use_flow,
			iccid,
			validate_type,
			validate_time,
			use_so_flow
		FROM
			yz_card_flow
		<include refid="selwhere"/>
	</select>

	<!--查询yz_card_packet-->
	<select id="exportflow" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
		b.packet_id,
		a.packet_wx_name,
		a.packet_valid_name,
		a.packet_valid_time,
		a.packet_flow
		FROM
		yz_card_packet a LEFT JOIN
		yz_card_flow b on a.packet_id = b.packet_id
		<include refid="selwhere"/>
		GROUP BY b.packet_id
	</select>

	<!--查询失效的防超套系数-->
	<select id="FindError_time" parameterType="java.util.HashMap" resultType="java.lang.String">
		SELECT
		error_time
		FROM
		yz_card_flow
		<where>
			iccid = #{iccid}
			and status in ("0")
		</where>
		ORDER BY end_time DESC
		LIMIT 1
	</select>


</mapper>