<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunze.common.mapper.yunze.YzPassagewayMapper">

<!--        <sql id="polling">-->
<!--            select id,cd_id,create_date,upd_date,cd_count,cd_current,polling_id,syn_date,polling_type-->
<!--        from yz_passageway_polling-->
<!--        </sql>-->

<!--        <select id="">-->
<!--            <include refid="polling"/>-->
<!--            <where>-->
<!--                <if>-->

<!--                </if>-->
<!--            </where>-->
<!--        </select>-->

    <select id="getList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select id,cd_id,create_date,upd_date,cd_count,cd_current,polling_id,syn_date,polling_type
        from yz_passageway_polling
    </select>


</mapper>






























































































