<!--
  @author Jason
  @date 2020-09-10
  @description
     模板示例
-->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>${Title}</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="Authorization" content="Jason">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,user-scalable=no">
</head>
<body>

    <!--内置变量-->
    <div>

    </div>
    <!--基本数据类型参数注入-->
    <div>
        <h1>${Title}</h1>
        <p>${Content}</p>
    </div>

    <!--复杂类型-->
    <div>
        <h1>${Document.Title}</h1>
        <p>${Document.Content}</p>
    </div>

    <!--define statement-->
    $define yesertday "2021-07-10"
    <div>
        <h5>define statement</h5>
        <p></p>
    </div>

    <!--set statement-->
    $set a=0;
    <!--iif-->
    <div>
        <p>$iif(goods.Length>0,goods.Length)</p>
    </div>

    <!--Math expression-->
    <div>
        <div>$math.abs(-1),$math.ceil(1.2)</div>
    </div>

    <!--format expression-->
    <div>
        <p>$format("{0},{1}",Title,Content)</p>
    </div>

    <!--数组类型-->
    <%foreach goods in goodslist%>
    <div>
        <h1>${goods.Name}</h1>
        <p>${goods.Price}</p>
    </div>
    <%end%>

    <!--for loop-->
    <dl>
        <%for(int i=0;i
        <goods.Length;i++)%>
            <dt>${goods.Name}</dt>:<dd>${goods.Price}</dd>
            <%end%>
    </dl>
    <!--if conditional-->
    <% if page==1 %>
    <div>if condition</div>
    <% else if %>
    <div>else if condition</div>
    <% end %>

    <!--switch statement-->
    <% switch(pagecount)%>
    <% case %>

    <% break %>
    <% end %>
</body>
</html>