config NX_TEST_INTEGRATION_HEAP_CACHE
    bool "Enable integration for heap cache"
    default n

config NX_TEST_INTEGRATION_PAGE
    bool "Enable integration for page"
    default n

config NX_TEST_INTEGRATION_PAGE_CACHE
    bool "Enable integration for page cache"
    default n
