[submodule "libs/libsx1262"]
	path = libs/libsx1262
	url = https://github.com/lupyuen/lora-sx1262
	branch = nuttx
[submodule "libs/liblorawan"]
	path = libs/liblorawan
	url = https://github.com/lupyuen/LoRaMac-node-nuttx
[submodule "libs/libnpl"]
	path = libs/libnpl
	url = https://github.com/lupyuen/nimble-porting-nuttx
[submodule "libs/libtinycbor"]
	path = libs/libtinycbor
	url = https://github.com/lupyuen2/tinycbor-nuttx
[submodule "libs/librust"]
	path = libs/librust
	url = https://github.com/lupyuen/rust-nuttx
[submodule "libs/libbl602_adc"]
	path = libs/libbl602_adc
	url = https://github.com/lupyuen/bl602_adc
[submodule "drivers/sensors/bme280"]
	path = drivers/sensors/bme280
	url = https://github.com/lupyuen/bme280-nuttx
