config NX_UTEST_SCHED_MUTEX
    bool "Enable utest for mutex"
    default n

config NX_UTEST_SCHED_SPIN
    bool "Enable utest for spin"
    default n

config NX_UTEST_SCHED_THREAD
    bool "Enable utest for thread"
    default n

config NX_UTEST_SCHED_PROCESS
    bool "Enable utest for process"
    default n
