CONFIG_NX_CPU_64BITS=y

#
# OS Kernel
#

#
# Debug
#
CONFIG_NX_DEBUG=y
CONFIG_NX_LOG_LEVEL=3
CONFIG_NX_DEBUG_COLOR=y
CONFIG_NX_DEBUG_TIMELINE=y
# CONFIG_NX_DEBUG_LINENUMBER is not set
# end of Debug

CONFIG_NX_PLATFROM_NAME="riscv64-k210"
CONFIG_NX_MULTI_CORES_NR=1
CONFIG_NX_IRQ_NAME_LEN=48
CONFIG_NX_NR_IRQS=66
CONFIG_NX_KVADDR_OFFSET=0x00000000
CONFIG_NX_PAGE_SHIFT=12
CONFIG_NX_MAX_THREAD_NR=256
CONFIG_NX_THREAD_NAME_LEN=32
CONFIG_NX_THREAD_STACK_SIZE=8192
CONFIG_NX_ENABLE_SCHED=y
CONFIG_NX_THREAD_MAX_PRIORITY_NR=16
CONFIG_NX_TICKS_PER_SECOND=100
# end of OS Kernel

#
# Platform
#
CONFIG_NX_PLATFROM_K210=y
# end of Platform

#
# Device
#
CONFIG_NX_PRINT_BUF_LEN=256
# CONFIG_NX_DRIVER_ROMDISK is not set
# CONFIG_NX_DRIVER_DUMMY is not set
CONFIG_NX_DRIVER_NULL=y
CONFIG_NX_DRIVER_ZERO=y
# end of Device

#
# File System
#
# CONFIG_NX_FS_CPIO is not set
CONFIG_NX_VFS_MAX_PATH=512
CONFIG_NX_VFS_MAX_NAME=256
CONFIG_NX_VFS_MAX_FD=256
CONFIG_NX_VFS_NODE_HASH_SIZE=256
# end of File System

#
# Tests
#
# CONFIG_NX_ENABLE_TEST_UTEST is not set
# CONFIG_NX_ENABLE_TEST_INTEGRATION is not set
# end of Tests
