<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunze.common.mapper.yunze.commodity.YzWxByProductInfoMapper">

	<sql id="selwhere" >
		<where>
			<if test="value!=null and value!=''">
				<if test="type==1">
					and product_name LIKE CONCAT(#{value},'%')
				</if>
			</if>
			<if test="publish_status!=null and publish_status!=''">
				and publish_status = #{publish_status}
			</if>
			<if test="audit_status!=null and audit_status!=''">
				and audit_status = #{audit_status}
			</if>
		</where>
	</sql>

	<!--获取商品 上架、已审核  -->
	<select id="findConcise" parameterType="java.util.HashMap"  resultType="java.util.HashMap">
		SELECT
			product_id,
			product_name as 'text',
			product_core as 'value',
			one_category_id,
			price
		FROM
			yz_wx_by_product_info
		<where>
			publish_status = '1'
			and audit_status = '1'
			and one_category_id = #{one_category_id}
		</where>
	</select>


	<!--验证商品价格查询-->
	<select id="findId" parameterType="java.util.HashMap"  resultType="java.util.HashMap">
		SELECT
			product_id,
			product_name,
			price
		FROM
			yz_wx_by_product_info
		<where>
			publish_status = '1'
			and audit_status = '1'
			and product_id = #{product_id}
		</where>
	</select>


	<select id="findName" parameterType="java.util.HashMap"  resultType="java.util.HashMap">
		SELECT
			product_id,
			product_name
		FROM
			yz_wx_by_product_info
	</select>




	<select id="selMap"  parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			product_id,
			product_core,
			product_name,
			one_category_id,
			price,
			publish_status,
			audit_status,
			descript,
			DATE_FORMAT( indate, "%Y-%m-%d %H:%i:%S" ) AS indate,
			DATE_FORMAT( modified_time, "%Y-%m-%d %H:%i:%S" ) AS modified_time
		FROM
			yz_wx_by_product_info
			<include refid="selwhere"/>
			LIMIT #{StarRow},#{PageSize}
	</select>

	<select id="selMapCount" parameterType="java.util.HashMap"  resultType="java.lang.Integer">
		SELECT
			COUNT(1)
		FROM
			yz_wx_by_product_info
			<include refid="selwhere"/>
	</select>


	<insert id="save" parameterType="java.util.HashMap"  >
		insert  into
			yz_wx_by_product_info
		(
			product_name,
			price,
			one_category_id,
			publish_status,
			descript,
			audit_status,
			indate,
			modified_time,
			product_core
		)value
		(
			#{product_name},
			#{price},
			#{one_category_id},
			#{publish_status},
			#{descript},
			1,
			now(),
			now(),
			#{product_core}
		)
	</insert>


	<update id="edit" parameterType="java.util.HashMap"  >
		update
			yz_wx_by_product_info
		<set>
			product_name = #{product_name},
			price = #{price},
			one_category_id = #{one_category_id},
			publish_status = #{publish_status},
			descript = #{descript},
			modified_time = now()
		</set>
		<where>
			product_id = #{product_id}
		</where>
	</update>


	<select id="findData" parameterType="java.util.HashMap"  resultType="java.util.HashMap">
		SELECT
			product_id,
			product_name,
			price,
			one_category_id,
			publish_status,
			descript
		FROM
			yz_wx_by_product_info
		<where>
			product_id = #{product_id}
		</where>
	</select>


	<select id="getMaxCore" parameterType="java.util.HashMap"  resultType="java.lang.String">
		SELECT
			MAX(product_core)
		FROM
			yz_wx_by_product_info
		<where>
			one_category_id = #{one_category_id}
		</where>
	</select>


</mapper>